body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #011638;
  color: #f3d9dc;
}

:root {
--title: #fd3e81;
--line_title: #00d0ff;
--button: #01739c;
--changeButton: #ff6392;
--error: #d72483;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  min-height: 300px;
  width: 430px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1, h3 {
  font-family: 'Righteous', cursive;
  color: var(--title);
  text-decoration: underline;
  text-decoration-color:var(--line_title);
  font-size: 50px;
  text-align: center;
}

.btn {
  background: var(--button);
  color: #ffffff;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
  color:#fff;
  background: var(--changeButton);
}

.view {
  font-size: 20px;
  font-weight: 100;
}

.error {
  color: var(--error);
  font-weight: 800;
  margin-top: 20px;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	transition: 0.3s;
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	transition: 0.3s;
	opacity: 0;
}

.toast {
	background-color: gray;
}